h3{
    color: aquamarine;
    background-color: aqua;
}
.h3diferente{
    color: red;
    background-color: aqua;
}
#h3especial{
    color: black;
    background-color: aqua;
}
h4{
    color: green;
}